<article class="case-study" role="article">
    <section class="text-center">
        <span class="case-study-text">{{appName}}</span>
    </section>
    <section>
        <img src="/images/repeating_curiosity.svg" type="image/svg+xml"
        alt="Packback Purpose-image" role="img" />
    </section>
</article>

<article class="description" role="article" aria-details="description">
    <section class="center">
        <p class="description-text font-weight-bold">Packback Questions Improves Student Engagement & Retention</p>

        <p class="primary-text font-weight-bold">Case Study #12: Professor Smith, Illinois State University, 2017</p>

        <div class="container-fluid jodi">
            <div class="row">
                <div class="col-md-8 remove-left-and-right-padding">
                    Jodi utilized Packback Answers in both of her courses this semester; Communication Theory and Introduction to Mass Communication. Both of these courses had approximately 150 students per class, and catered to the Freshman/Sophomore communication or general
                    education student. Her goal in using Packback was to finally use a discussion board that cultivated quality discussion rather than just being busy work.
                </div>
                <div class="col-md-4 remove-left-and-right-padding">
                    <img src="/images/Packback_illustration_library_Jessica.svg"
                     type="image/svg+xml"
                      alt="jodi-image" role="img" />
                </div>
            </div>
        </div>
        <hr />
    </section>

    <section class="center">
        <p class="description-header-2 font-weight-bold">
            “Packback completely changed the way my class interacted and engaged with the material. They became truly curious.”
        </p>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md remove-left-and-right-padding">
                    <p class="font-weight-bold">
                    What has your experience been with Packback? </p>
                </div>
                <div class="col-md">
                    <p class="font-weight-bold">
                    How did you previously manage discussion? </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md remove-left-and-right-padding">
                    <span  class="font-weight-bold">Professor Smith:</span> “Packback has exceeded my expectations in every way. It’s intuitive for the students to use and it’s easy to peruse and participate in discussions...[and] hasn’t added to my workload, which I appreciate. What has surprised me the most
                    are the quality of the questions the students are submitting. The students ask questions that move far beyond simple knowledge and comprehension of course.
                </div>
                <div class="col-md">
                    <span  class="font-weight-bold">Professor Smith:</span> “Before Packback I wasn’t able to effectively manage participation and discussion in my lecture halls. It’s difficult to manage a meaningful discussion in a room with 100 people, and I knew there were a lot of kids not participating.
                    I knew they had important contributions to make, too! I had tried discussion boards on our LMS (Sakai) without a great deal of success. Eventually, I just gave up.”
                </div>
            </div>
        </div>
    </section>
</article>

<article class="stats center text-center font-weight-bold" role="article">
    <section>
        <p class="primary-text">Overall Stats and outcomes from Professor Smith’s Course</p>
        <div class="container-fluid center">
            <div class="row">
                <div class="col-lg-3">
                    <p class="stats-numbers">{{questionAsked}}</p>
                    <p class="stats-numbers-header">Questions Asked</p>
                </div>
                <div class="col-lg-2">
                                    <p class="stats-numbers">{{responsesShared}}</p>
                                    <p class="stats-numbers-header">Responses Shared</p>
                </div>
                <div class="col-lg-2">
                        <p class="stats-numbers">{{studentsJoined}}</p>
                            <p class="stats-numbers-header">Students Joined</p>
                </div>
                <div class="col-lg-2">
                                        <p class="stats-numbers">{{postsFeatured}}</p>
                                            <p class="stats-numbers-header">Posts Featured</p>
                </div>
                <div class="col-lg-3">
                    <p class="stats-numbers">{{questions}}</p>
                    <p class="stats-numbers-header">Questions</p>
                </div>
            </div>
        </div>

    </section>
</article>

<article class="request-demo text-center" role="article">
    <section class="center">
        <p class="primary-text font-weight-bold">
            Interested in learning how Packback Questions can support measurable curiosity and improved engagement in your class?
        </p>
        <form name="demo" role="form">
            <input class="js-request-demo-text" type="email" title="Email required to get demo" name="request-demo-text" value="" title="Email is not properly formatted" placeholder="{{emailRequest}}" role="textbox" required></input>
            <input class="js-request-demo-btn" type="submit" name="submitBtn" value="Request a demo" role="button" aria-label="Request Demo"></input>
        </form>
    </section>
</article>

<script src="/javascripts/index.js"></script>
